.navbar .site-name {
  display none
}

.theme-default-content p, li, ul {
  line-height 2
}


.theme-container {
  font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
}